*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Satoshi;
}
@font-face {
    font-family: "Satoshi";
    src: url(resources/Satoshi-Variable.ttf);
    /*custom font*/
}

.navibar{
    background-color:#f5f5fa;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index:888;
    
}

.navibar_container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    
}

#navi_logo{
    background-color: #f5f5fa ;
    background-image: linear-gradient(to top,rgb(19, 25, 41),#f5f5fa 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: none;
    font-size: 1.5rem;
    text-decoration: none;
    
}

.fa-gem{
    margin-right: 0.5rem;
}

.navi_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.item{
    height: 80px;
}

.links{
    color: #002C7C;
    display:flex; 
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding:0 1rem;
    height: 100%;
}

.links:hover{
    color:grey;
    transition: all 0.3s ease;
}

@media screen and (max-width:960px){
    .navibar_container{
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }

    .navi_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        
    }

    .navi_menu.active{
        background: #292727;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        z-index: -1;
    }

    #navi_logo{
        padding-left: 25px;
    }

    .navi_t .line{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #292727;
    }

    .item{
        width: 100%;
    }

    .links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        color: #f5f5fa;
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navi_t .line{
        display: block;
        cursor: pointer;
    }

    #mobile_menu.is-active .line:nth-child(2){
        opacity: 0;
    }
    #mobile_menu.is-active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg); 
    }
    #mobile_menu.is-active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg); 
    }
}
.FooterBg{
    background: rgb(19, 25, 41);
    padding: 1.25em 0;
    box-shadow: 0 0 1em rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}  
.FooterAuthor{
    color: #f5f5fa; 
    text-align: center;
    font-size: 1.2em;
    margin-top: 0.5em;
    font-family: Satoshi;
}
